yc_token                 = ""
yc_cloud_id              = ""
yc_folder_id             = ""
yc_zone                  = "ru-central1-a"
yc_instance_name         = "otus-proxy-vm"
yc_image_id              = "fd808e721rc1vt7jkd0o"
yc_subnet_name           = "otus-subnet"
yc_service_account_name  = "otus-sa"
yc_bucket_name           = "otus-bucket"
yc_network_name          = "otus-network"
yc_route_table_name      = "otus-route-table"
yc_nat_gateway_name      = "otus-nat-gateway"
yc_security_group_name   = "otus-security-group"
yc_subnet_range          = "10.0.0.0/24"
yc_dataproc_cluster_name = "otus-dataproc-cluster"
yc_dataproc_version      = "2.0"
public_key_path          = "~/.ssh/id_rsa.pub"
private_key_path         = "~/.ssh/id_rsa"